! -----------------------------------------
! Load resources for clients X
! Rosmer Lopez
! https://github.com/rosmerlopez24/dotfiles
! -----------------------------------------

#include ".Xresources.d/colors.Xresources"
