* {
  background: #0F111A;
  foreground: #A6ACCD;
  color-black: #3B3F51;
  color-red: #F07178;
  color-green: #C3E88D;
  color-yellow: #FFCB6C;
  color-blue: #82AAFF;
  color-magenta: #C792EA;
  color-cyan: #89DDFF;
  color-white: #EEFFFF;
}
